# Python:
    popular programming language. It was created by Guido van Rossum, and released in 1991.

    It is used for:

    web development (server-side),
    software development,
    mathematics,
    system scripting.
What can do Python:


    used on a server to create web applications.
    used alongside software to create workflows.
    connect to database systems. It can also read and modify files.
    used to handle big data and perform complex mathematics.
     used for rapid prototyping, or for production-ready software development.
     
     
Why Python?

    Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
     simple syntax and write programs with fewer lines than some other programming languages.
     runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
     treated procedural way, an object-oriented way or a functional way.

In [1]:
print("Hello dear Its amazing to learn Python")
print("my target ip is: ",input("enter the ip: "))

Hello dear Its amazing to learn Python
enter the ip: 234.
my target ip is:  234.

# Python Indentation

  Indentation refers to the spaces at the beginning of a code line.

  Python uses indentation to indicate a block of code.but other pragramming luanguage used for readability

In [2]:
if 3<5:
    print("It's true")

It's true

# Variables

Variables are containers for storing data values.

In [3]:
x=12
y="I am Bakshial"
print(x,type(x))   # type function is used to see type of variable
print(y,type(y))

# Assign multiple values to many variable
x,y,z=2,"Nice",3.5
print(x)
print(y)
print(z)

name1,name2,name3="Ali","Bakhshial","Rehman"
print(name1)
print(name2)
print(name3)

# you can also write like this

print(name1,name2,name3)

fname=input("enter first name: ")
lname=input("enter last name: ")
print(f"my first name is {fname} and last name is {lname}")

12 <class 'int'>
I am Bakshial <class 'str'>
2
Nice
3.5
Ali
Bakhshial
Rehman
Ali Bakhshial Rehman
enter first name: ali
enter last name: hanjano
my first name is ali and last name is hanjano

# Global Variables

Variables that are created outside of a function  are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [4]:
x="I am Global"
def fun(): # Function will be defined in comming cells
    print(x)
fun() # function called



def fun():
    x="Oh! I am local variable Because I am in functon, I can not be used outside of function"
    print(x)
fun()



def fun1():
    global x
    x="Yes I am Global variable becuase I declare as Global in the function, I can be used outside the Function"
    print(x)
fun1()

I am Global
Oh! I am local variable Because I am in functon, I can not be used outside of function
Yes I am Global variable becuase I declare as Global in the function, I can be used outside the Function

# Python Data Type

In [5]:
x=10   # interger
print(type(x))

y=23.23  # Float
print(type(y))

x="Hello"
print(type(x))

x=1j
print(type(x))

List =["Hi","Hello","Nice"]

print(List,type(List))

Tuple=("Well","come","dear")
print(Tuple,type(Tuple))

Dict={"name":"Ali","age":"21"}
print(Dict,type(Dict))

Set={"Nice","To","meet","you"}
print(Set,type(Set))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
['Hi', 'Hello', 'Nice'] <class 'list'>
('Well', 'come', 'dear') <class 'tuple'>
{'name': 'Ali', 'age': '21'} <class 'dict'>
{'Nice', 'you', 'To', 'meet'} <class 'set'>

# Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [6]:
x=12
y=19.78
z=2j

x=float(x)
print(x,type(x))

y=int(y)
print(y,type(y))

a=complex(x)
print(a,type(a))

12.0 <class 'float'>
19 <class 'int'>
(12+0j) <class 'complex'>

# Python Casting

In [7]:
x=12.2
x=float(x)
print(x)

a=12.98
a=int(a)
print(a)

b=123
b=str(b)
print(b,type(b))

12.2
12
123 <class 'str'>

# If else condition

In [8]:
a=12
b=39
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is less than the b")
    

if a<=b:print("A")
    
print("A is less than B") if a<b else print("A is greater than B") 
a=10
b=10
print("A") if a<b else print("equal") if a==b else print("B")

a is less than the b
A
A is less than B
equal

# Loop
# While loop

In [9]:
i=0
while i<10:
    print(i)
    i+=1
print("Hello")
a=1
while a<=11:
    print(a)
    if a==10:
        break
    a=a+1
    
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

0
1
2
3
4
5
6
7
8
9
Hello
1
2
3
4
5
6
7
8
9
10
1
2
4
5
6

# For Loop

In [10]:
x=[1,2,3,4,5]
for i in x:
    print(i)

print("----------------")
for i in [1,2,3,4,5,]:
    print(i)
    
print("++++++ else ++++++")
for i in "fjsaf":
    print(i)
else:
        print("loop is finished")
    
print("-----continue statement----")
for i in range(1,40,2):
    if i>=20 and i<=30:
        continue
    print(i)
else:
    print("loop is finished")   

    
list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]
print("-----break----")
for x in list1:
    if x=="Mangoes":
        break
    print(x)
else:
    print("loop is finished")


list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]
list2=["120","300","30","120","180","20","30"]

for i in list1:
    for j in list2:
        print(i,j)

1
2
3
4
5
----------------
1
2
3
4
5
++++++ else ++++++
f
j
s
a
f
loop is finished
-----continue statement----
1
3
5
7
9
11
13
15
17
19
31
33
35
37
39
loop is finished
-----break----
apple
banana
Orange
apple
apple 120
apple 300
apple 30
apple 120
apple 180
apple 20
apple 30
banana 120
banana 300
banana 30
banana 120
banana 180
banana 20
banana 30
Orange 120
Orange 300
Orange 30
Orange 120
Orange 180
Orange 20
Orange 30
apple 120
apple 300
apple 30
apple 120
apple 180
apple 20
apple 30
Mangoes 120
Mangoes 300
Mangoes 30
Mangoes 120
Mangoes 180
Mangoes 20
Mangoes 30
cherry 120
cherry 300
cherry 30
cherry 120
cherry 180
cherry 20
cherry 30
Kiwi 120
Kiwi 300
Kiwi 30
Kiwi 120
Kiwi 180
Kiwi 20
Kiwi 30

# # String Data Type

In [11]:
# Multiline Strings
# You can assign a multiline string to a variable by using three quotes:

x="""Hi every one , You are the leget of
this decade and you are nice people of
you life you life is beautiful than other 
for you
"""
print(x)

Hi every one , You are the leget of
this decade and you are nice people of
you life you life is beautiful than other
for you

In [12]:
# Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

# However, Python does not have a character data type, a single character is simply a string with a length of 1.

# Square brackets can be used to access elements of the string.

name ="Bakhshial"
print(name[0])
print(name[1])

for i in name:
    print(i)

print("Lenth of you sring is:",len(name))

B
a
B
a
k
h
s
h
i
a
l
Lenth of you sring is: 9

In [13]:
# Check String

# To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "The best things in life are free!"
print("free" in txt)

# use if 

if "free" in txt:
    print("Yes life is free")
    
#Check if NOT
print("Nice" not in txt)

if "Nice" not in txt:
    print("Life is Not Nice")

True
Yes lif is free
True
Life is Not Nice

# Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [60]:
#Get the characters from position 2 to position 5 (not included):
x="Bakhshial,Hajano"
print(x[2:15])

#get from starting to 5
print(x[:5])

# get from 2 to ending

print(x[4:])

khshial,Hajan
Bakhs
shial,Hajano

In [63]:
print(x[-5:-2])
print(x[-1:])

aja
Bakhshial,Hajan

In [16]:
# Upper case
print(x.upper())

#Lower case

print(x.lower())

# remove space

name="    Bakhshial , Hajano  "

print(name)
print(name.strip())

# replace B with H
print(name.replace("B","H"))

BAKHSHIAL,HAJANO
bakhshial,hajano
    Bakhshial , Hajano
Bakhshial , Hajano
    Hakhshial , Hajano

In [17]:
# split
a="Hello,World!"
print(a.split(","))

['Hello', 'World!']

# String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [18]:
x="Bakhshial"
y="Hajano"

print(x+y)

print(x+" "+y)

BakhshialHajano
Bakhshial Hajano

# String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers.
But we can combine strings and numbers by using the format() method!

In [64]:
age=22
txt="My name is Bakhshial, I am {} year old"
print(txt.format(age))
print(f"My name is Bakhshial, I am {age} year old")

My name is Bakhshial, I am 22 year old
My name is Bakhshial, I am 22 year old

In [66]:
quantity = 3
itemno = 567
price = 49.95
myorder = f"I want to pay {price} dollars for {quantity} pieces of item {itemno}."
print(myorder)
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.
I want to pay 49.95 dollars for 3 pieces of item 567.

In [21]:
#The escape character allows you to use double quotes when you normally would not be allowed
print("Hey\"Bakhshial\"How are you")

Hey"Bakhshial"How are you

# Python - String Methods
https://www.w3schools.com/python/python_strings_methods.asp

# Operators

    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

# Arithmatics operator

In [22]:
a=12
b=4

print("Addition of two number",a+b)
print("Substraction of two number",a-b)
print("multiplication of two number",a*b)
print("Division of two number",a/b)
print("moduls of two number",a%b)
print("power of two number",a**b)
print("flour of two number",a//b)

Addition of two number 16
Substraction of two number 8
multiplication of two number 48
Division of two number 3.0
moduls of two number 0
power of two number 20736
flour of two number 3

# Assignment Operators

In [23]:
a=12
b=5

b+=a
print(b)

b-=a
print(b)

b*=a
print(b)

b/=a
print(b)

b**=a
print(b)

b%=a
print(b)

17
5
60
5.0
244140625.0
1.0

# Comparison Operator

In [24]:
a=5
b=6
print("a is Equal to b :         ",a==b)

print("a is greater than b:      ",a>b)

print("a is less than b:         ",a<b)


print("a less and Equal to b:    ",a<=b)

print("a  graeter and Equal to b:",a>=b)

print("a is not equal to b:      ",a!=b)

a is Equal to b :          False
a is greater than b:       False
a is less than b:          True
a less and Equal to b:     True
a  graeter and Equal to b: False
a is not equal to b:       True

# Other Operators
https://www.w3schools.com/python/python_operators.asp

# Python Function

In [25]:
def fun():
    print("Hi Every one")
fun()


print("\n-------Funtion with Arguement-------\n")
def fun1(name,email,phone):
    print("name is: ",name)
    print("email is: ",email)
    print("phone is: ",phone)

fun1("Ali","hshdf.com","239394")
fun1("Bakhshial","bakhshial.com","0594847247772")

print("\n#---------abitrary arguement------#\n")
def fun2(*x):
    print(x)

fun2("Bakhshial",21,234,"apple")

print("\n---------------------\n")

def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus") 

print("\n-----defualt arguemnent-----\n")
def fun3(name="Bakhshial"):
    print(name)

fun3("ali")
fun3("Hajano")
fun3()


print("\n------return type-----\n")

def fun4(x,y):
    a=x**y
    return a

print(fun4(3,2))

print("\n-------Recuirrsion------\n")
def fun5(k):
    if k>0:
        a=k+fun5(k-1)
        print(a)
    else:
        a=0
    return a

fun5(9)

Hi Every one

-------Funtion with Arguement-------

name is:  Ali
email is:  hshdf.com
phone is:  239394
name is:  Bakhshial
email is:  bakhshial.com
phone is:  0594847247772

#---------abitrary arguement------#

('Bakhshial', 21, 234, 'apple')

---------------------

The youngest child is Linus

-----defualt arguemnent-----

ali
Hajano
Bakhshial

------return type-----

9

-------Recuirrsion------

1
3
6
10
15
21
28
36
45

45

# Python Collections (Arrays)

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

# Python List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [26]:
List=["Hi","Hey","Hello"]

print(List)

# Lists allow duplicate values
l=["apple","banana","Orange","apple","Mangoes"]
print(l)
print(len(List),len(l))
print(type(l))

['Hi', 'Hey', 'Hello']
['apple', 'banana', 'Orange', 'apple', 'Mangoes']
3 5
<class 'list'>

In [27]:
l=["Bakhshial",12,3.4,True,2j]
print(l)

print(type(l))

['Bakhshial', 12, 3.4, True, 2j]
<class 'list'>

# Access Items

In [28]:
l=[19,52,73,84,85,6,7,8]
print(l[1],l[0])

52 19

In [29]:
# Negative indexing means start from the end

# -1 refers to the last item, -2 refers to the second last item etc.
list2=[1,2,3,4,5,6]
print(list2[-1],list2[-3])
print(list2[-3:])

6 4
[4, 5, 6]

In [30]:
l=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]
print(l[2:5])
print(l[:6])
print(l[3:])
print(l[-4:-1])

['Orange', 'apple', 'Mangoes']
['apple', 'banana', 'Orange', 'apple', 'Mangoes', 'cherry']
['apple', 'Mangoes', 'cherry', 'Kiwi']
['apple', 'Mangoes', 'cherry']

In [68]:
# Check if "apple" is present in the list:
list2 = ["apple", "banana", "cherry"]
if "apple" in list2:
    print("Yes, 'apple' is in the fruits list") 
print("apple" in "list2")

Yes, 'apple' is in the fruits list
False

# Change List Items

In [32]:
list1=[12,34,5,67,89,5,4,6]
print(list1)

list1[1]=13
print(list1)

[12, 34, 5, 67, 89, 5, 4, 6]
[12, 13, 5, 67, 89, 5, 4, 6]

In [33]:
list1[1:4]=[11,10,9]
print(list1)

[12, 11, 10, 9, 89, 5, 4, 6]

In [34]:
list1[1:4]=[7]
print(list1)

[12, 7, 89, 5, 4, 6]

In [35]:
list2 = ["apple", "banana", "cherry"]
list2.insert(2,"Mangoe")
print(list2)

['apple', 'banana', 'Mangoe', 'cherry']

# Add List Items

In [36]:
# Append Items
# To add an item to the end of the list, use the append() method:

list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]

list1.append("Mangoe")
print(list1)

# Use insert method

list1.insert(2,"Mangoes")
print(list1)

# Extend List
# To append elements from another list to the current list, use the extend() method.

list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]

list3=["120","200","100","150"]

list1.extend(list3)
print(list1)

['apple', 'banana', 'Orange', 'apple', 'Mangoes', 'cherry', 'Kiwi', 'Mangoe']
['apple', 'banana', 'Mangoes', 'Orange', 'apple', 'Mangoes', 'cherry', 'Kiwi', 'Mangoe']
['apple', 'banana', 'Orange', 'apple', 'Mangoes', 'cherry', 'Kiwi', '120', '200', '100', '150']

# Remove List Items

In [37]:
list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]
list1.remove("Orange")
print(list1)

# remove third item
list1.pop(2)
print(list1)

list1.pop() # remove from end
print(list1)

# del keyword
del list1[0]
print(list1)

del list1 # list1 is deleted

list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]

list1.clear()
print(list1)

['apple', 'banana', 'apple', 'Mangoes', 'cherry', 'Kiwi']
['apple', 'banana', 'Mangoes', 'cherry', 'Kiwi']
['apple', 'banana', 'Mangoes', 'cherry']
['banana', 'Mangoes', 'cherry']
[]

# Loop Lists

In [38]:
List=[1,2,3,4,5,6,7]
for i in List:
    print(i)
    
print("\nUse the range() and len() functions to create a suitable iterable")

list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]

for i in range(len(list1)):
    print(list1[i])
    
# Using While loop

print("\n-----while loop-----")

i=0
while i<len(list1):
    print(list1[i])
    i=i+1
    

# Looping Using List Comprehension
# List Comprehension offers the shortest syntax for looping through lists:
list1=["apple","banana","Orange","apple","Mangoes","cherry","Kiwi"]
l=[i for i in list1]
print(l)

1
2
3
4
5
6
7

Use the range() and len() functions to create a suitable iterable
apple
banana
Orange
apple
Mangoes
cherry
Kiwi

-----while loop-----
apple
banana
Orange
apple
Mangoes
cherry
Kiwi
['apple', 'banana', 'Orange', 'apple', 'Mangoes', 'cherry', 'Kiwi']

# List Comprehension

In [39]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist) 

newlist = [x for x in fruits] 
print(newlist)

newlist = [x if x != "banana" else "orange" for x in fruits] 
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [70]:
new1=[x for x in range(11)]
print(new1)

new2=[i for i in range(10) if i<5]
print(new2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4]

# Sort List

In [41]:
# ascending order
list1=[2,1,4,67,2,5,8,543,2,5,8,9,67,5,4,6,4,64,32,342]
list1.sort()
print(list1)

#descending order

list1.sort(reverse=True)
print(list1)

[1, 2, 2, 2, 4, 4, 4, 5, 5, 5, 6, 8, 8, 9, 32, 64, 67, 67, 342, 543]
[543, 342, 67, 67, 64, 32, 9, 8, 8, 6, 5, 5, 5, 4, 4, 4, 2, 2, 2, 1]

# Copy List

In [42]:
list1=[9,3,4,8,7,2,1]
print(list1)
list2=list1.copy()
print(list2)

list3=list(list1)
print(list3)

[9, 3, 4, 8, 7, 2, 1]
[9, 3, 4, 8, 7, 2, 1]
[9, 3, 4, 8, 7, 2, 1]

# Join List

In [43]:
l=['q','e','r','w']
l2=[1,2,3]
print(l+l2)

for i in l:
    l2.append(i)
print(l2)

l.extend(l2)
print(l)

['q', 'e', 'r', 'w', 1, 2, 3]
[1, 2, 3, 'q', 'e', 'r', 'w']
['q', 'e', 'r', 'w', 1, 2, 3, 'q', 'e', 'r', 'w']

# List Methods
https://www.w3schools.com/python/python_lists_methods.asp

# Python Lambda

In [44]:
x=lambda a,b :a*b
print(x(2,3))

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

6
22

# Array

In [45]:
name=["Bakhshial","Ali","Rehman","Hajano"]
type(name)

list

# Python Class

In [46]:
class human:
    def __init__(self,n,o):
        self.name=n
        self.occupation=o
    
    def do_work(self):
        if self.occupation=="tennis player":
            print(self.name,"plays tennis")
        elif self.occupation=="actor":
            print(self.name,"shoots a film")
        
    def speaks(self):
        print(self.name,"says how are you")

tom=human("ali","actor")
tom.do_work()
tom.speaks()

ali shoots a film
ali says how are you

# inheritance

In [47]:
class vehicle:
    def general_usage(self):
        print("general use: transporation")
        

class Car(vehicle):
    def __init__(self):
        print("I am the car")
        self.wheel=4
        self.model=2023
        self.has_roofs=True
        
    
    def specific_usage(self):
        print("travel with family,go to office")
        
class MoterCycle(vehicle):
    def __init__(self):
        print("I am the motercycle")
        self.wheel=2
        self.has_roof=True
        self.model=2020
    def specific_usage(self):
        print("racing , carry wife to mikean")

        
        
c=Car()
c.general_usage()
c.specific_usage()

moter=MoterCycle()
moter.general_usage()
moter.specific_usage()
moter.model

I am the car
general use: transporation
travel with family,go to office
I am the motercycle
general use: transporation
racing , carry wife to mikean

2020

# Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, 

which consist of the methods __iter__() and __next__().

In [48]:
tuple1 = ("apple", "banana", "cherry")
m= iter(tuple1)

print(next(m))
print(next(m))
print(next(m))


x="abc"
y=iter(x)
print(next(y))
print(next(y))
print(next(y))

apple
banana
cherry
a
b
c

In [49]:
class Iterator():
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        x=self.a
        self.a+=1
        return x
    
    
i=Iterator()
x=iter(i)
print(next(x))
print(next(x))
print(next(x))

print("---Stop Condition---")

class Iterator():
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        if self.a<=20:
            x=self.a
            self.a+=1
            return x
        else:
            raise StopIteration
    
    
i=Iterator()
x=iter(i)

for a in x:
    print(a)

1
2
3
---Stop Condition---
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Polymorphism

# function overloading
same name but different arguement

In [50]:
def add(a,b):
    c=a+b
    print(c)
    
add(2,4)

def add(a,b,c):
    d=a+b+c
    print(d)
add(123,12,3)

def add():
    c=9**2
    print(c)
    
add()


from multipledispatch import dispatch
 
# passing one parameter
 
 
@dispatch(int, int)
def product(first, second):
    result = first*second
    print(result)
 
# passing two parameters
 
 
@dispatch(int, int, int)
def product(first, second, third):
    result = first * second * third
    print(result)
 
# you can also pass data type of any value as per requirement
 
 
@dispatch(float, float, float)
def product(first, second, third):
    result = first * second * third
    print(result)
 
 
# calling product method with 2 arguments
product(2, 3)  # this will give output of 6
 
# calling product method with 3 arguments but all int
product(2, 3, 2)  # this will give output of 12
 
# calling product method with 3 arguments but all float
product(2.2, 3.4, 2.3)  # this will give output of 17.98599999999999

6
138
81
6
12
17.204

# Function Overriding
same name of function but different arguement in class

In [51]:
class add1:
    def add(self,a,b):
        c=a+b
        print(c)
    
class add2(add1):
    def add(self,a,b,c):
        d=a+b+c
        print(d)

class add3(add2):
    def add(self):
        c=9**2
        print(c)
    

obj1=add1()
obj1.add(32,12)
obj2=add2()
obj2.add(1,3,3)

44
7

# Python Datetime
https://www.w3schools.com/python/python_datetime.asp

In [52]:
import datetime
x=datetime.datetime.now()
print(x)

print(x.year)
print(x.strftime("%A"))
print(x.strftime("%B"))

2023-07-09 15:59:39.403475
2023
Sunday
July

# Python Math

In [53]:
set1={1,2,3,45,6,7}
print(max(set1))
print(min(set1))


print(pow(2,3))

print(abs(-2.34))

import math

print(math.sqrt(9))

print(math.pi)

print(math.ceil(1.7))
print(math.floor(1.7))

45
1
8
2.34
3.0
3.141592653589793
2
1

# Python JSON
JSON is a syntax for storing and exchanging data.

JSON is text, written with JavaScript object notation.

In [54]:
#json to python
import json
d='{"name":"Bakhsial","age":21,"city":"Khaipur"}'
print(d,type(d))
x=json.loads(d)
print(x["name"])


#python to json

dict1={
    "name":"Bakhshial",
    "age":12,
    "country":"Pakistan"
}
print(type(dict1))

x=json.dumps(dict1)
print(x,type(x))

{"name":"Bakhsial","age":21,"city":"Khaipur"} <class 'str'>
Bakhsial
<class 'dict'>
{"name": "Bakhshial", "age": 12, "country": "Pakistan"} <class 'str'>

In [55]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

# Python RegEx
 RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

In [56]:
import re
txt="the raine in the Pakistan"
x=re.search("^the.*Pakistan$",txt)
y=re.search("^the.*riane$",txt)
print(x)


txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")


txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x) 


x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

<re.Match object; span=(0, 25), match='the raine in the Pakistan'>
['The']
Yes, there is a match!
['ai', 'ai']
The first white-space character is located in position: 3