A sequence is an object that holds multiple items of data, stored one 
after the other. You can perform operations on a sequence to examine 
and manipulate the items stored in it

# list
A list is an object that contains multiple data items. Lists are mutable, 
which means that their contents can be changed during a programâ€™s 
execution. Lists are dynamic data structures, meaning that items may be 
added to them or removed from them. You can use indexing, slicing, and 
various methods to work with lists in a program

In [1]:
n=[1,2,3,4,5]
print(n)
names = ['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']
print(names)
numbers = list(range(1, 10, 2))
numbers

[1, 2, 3, 4, 5]
['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']

[1, 3, 5, 7, 9]

The Repetition Operator
the * symbol multiplies two numbers. However, when the 
operand on the left side of the * symbol is a sequence (such as a list) and the operand on 
the right side is an integer, it becomes the repetition operator.

In [2]:
n=[0]*5
print(n)
n=[1]*8
print(n)
n=[1,2,3]*3
print(n)
index = 0
while index < 4:
    print(n[index])
    index += 1

[0, 0, 0, 0, 0]
[1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
1
2
3
1

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers[2] = 99
print(numbers)
numbers = [10] * 5
print(numbers)

numbers1 = [1, 2, 3]
numbers2 = [10, 20, 30]
numbers3 = numbers1 + numbers2
print(numbers1)
print(numbers2)
print(numbers3)

[1, 2, 99, 4, 5]
[10, 10, 10, 10, 10]
[1, 2, 3]
[10, 20, 30]
[1, 2, 3, 10, 20, 30]

In [4]:
#Iterating over a List with the for Loop
my_list= [99, 100, 101, 102]
for n in numbers:
    print(n)

10
10
10
10
10

Indexing
Another way that you can access the individual elements in a list is with an index.

In [5]:
print(my_list[0], my_list[1], my_list[2], my_list[3])
index = 0
while index < 4:
    print(my_list[index])
    index += 1

99 100 101 102
99
100
101
102

In [6]:
my_list = [10, 20, 30, 40]
print(my_list[-1],my_list[-2],my_list[-3],my_list[-4])

40 30 20 10

# Concatenating Lists

In [7]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list1 += list2
print(list1)
list3=['Joanne', 'Karen', 'Lori']
list4 = list1 + list2+list3
list4

[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 'Joanne', 'Karen', 'Lori']

# Slicing
A slicing expression selects a range of elements from a sequence

list_name[start : end]

In [8]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday',
 'Thursday', 'Friday', 'Saturday']
days
days[0:5]

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [9]:
days[:3]

['Sunday', 'Monday', 'Tuesday']

In [10]:
days[2:]

['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [11]:
print(days[:])
days

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [12]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l[-5:])
l[0:10:2]

[6, 7, 8, 9, 10]

[1, 3, 5, 7, 9]

In [13]:
if 'Sunday' in days:
    print("Hollyday")

Hollyday

In [14]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday',
 'Thursday', 'Friday', 'Saturday']

# In and Not in
used for searching

In [15]:
search=input("search the days:")
if search in days:
    print("this day is :",search)
else:
    print("invalid!")

KeyboardInterrupt: Interrupted by user

In [ ]:
items=["milk","apple","patata"]  
search=input("search the item:")
if search in items:
    print("this item is :",search)
else:
    print("invalid!")

In [ ]:
 names = ['Jim', 'Jill', 'John', 'Jasmine']
 if 'Jasmine' not in names:
 print('Cannot find Jasmine.')
 else:
 print("Jasmine's family:")
 print(names

In [ ]:
s="""Your search for Gsuite online advertising collaboration platform work 
ends here. Receptix.us is a global job marketplace that has created a 
tangible and seamless bridge between job aspirants and potential employment 
opportunities. We offer millions of jobs in destinations across the 
globe to make your job hunt as seamless as possible with our world-class 
programmatic technology. We believe that great talent has no regional 
boundaries and with the worldwide shift towards remote working, has emerged 
as a preferred destination to look for remote as well as on-site 
opportunities in a single-point access with customised job recommendations 
to match your career interests.
So if you're looking for a job, be it part-time or full-time, on-site 
or work-from-home - Receptix.us has got you covered!
"""
s

s1=s.split("\n")

In [ ]:
s1

In [ ]:
s1=s.split(".") #seprate according to the line
s1
s.count("s")
s.count("word")

In [ ]:
import numpy as np
x=np.arange(12).reshape(3,4)
x

In [ ]:
r=np.array([])

# List Function

In [19]:
#append
l=[]
a='y'
while a=='y':
    n=int(input("enter the value:"))
    l.append(n)
    a=input("Enter y if you continue:")
l

enter the value:4
Enter y if you continue:y
enter the value:5
Enter y if you continue:y
enter the value:6
Enter y if you continue:y
enter the value:7
Enter y if you continue:y
enter the value:7
Enter y if you continue:f

[4, 5, 6, 7, 7]

In [20]:
l

[4, 5, 6, 7, 7]

In [22]:
l.insert(2,9)

In [23]:
l

[4, 5, 9, 6, 7, 7]

In [25]:
l=[3,5,5,2,9,8,6,1,2]
l.sort()
l

[1, 2, 2, 3, 5, 5, 6, 8, 9]

In [37]:
#copy
list1=[1,2,3,4,4]
print("list1:",list1)
list2=list1
list2[4]=67
print("list2:",list2)
list3=[]+list1
print("list3:",list3)
list4=list1.copy()
list4[0]=34
print("list4:",list4)

print("list3:",list3)

list1: [1, 2, 3, 4, 4]
list2: [1, 2, 3, 4, 67]
list3: [1, 2, 3, 4, 67]
list4: [34, 2, 3, 4, 67]
list3: [1, 2, 3, 4, 67]

In [44]:
# Two Dimensional list
list1=[[1,2],[3,4],[5,6],[7,8]]
print(list1)
print("first row:",list1[0])
print("first second:",list1[1])
print("first row:",list1[])

[[1, 2], [3, 4], [5, 6], [7, 8]]
first row: [1, 2]
first second: [3, 4]
first row: []

In [50]:
scores = [[1, 2, 3],
          [4, 5,6],
          [7, 8, 8]]
scores

[[1, 2, 3], [4, 5, 6], [7, 8, 8]]

In [52]:
#scores[row][column]

scores[0][0]

1

In [53]:
scores[1][1]

5

In [54]:
scores[:][2]

[7, 8, 8]

In [61]:
mylist=[]
#mylist.insert(0, 'Labrador')
mylist

['Labrador']

In [62]:
mystr = 'abc'
mystr2 = '123'
mystr += mystr2
print(mystr)

abc123

In [63]:
mystr = 'abc' * 3
print(mystr)

abcabcabc

In [64]:
mystr = 'abracadabra'
print(mystr[6:9])

dab