# Tuple Data Type
Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [3]:
tupl=("Nice","to","meet","you")
print(tupl,type(tupl))
print(len(tupl))

tup2=(1,4,2,"Mangoe","Nice",True)
print(tup2)

('Nice', 'to', 'meet', 'you') <class 'tuple'>
4
(1, 4, 2, 'Mangoe', 'Nice', True)

# Access Tuple

In [13]:
tupl=("Nice","to","meet","you")
print(tupl[0])

t=(9,1,2,3,7,5,8,6,4)
print(t[:3])
print(t[2:9])

print(t[-1])
print(t[-3:-1])

Nice
(9, 1, 2)
(2, 3, 7, 5, 8, 6, 4)
4
(8, 6)

# Update Tuples

Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [15]:
tup=("Orang","Mangoe","banana","kiwi")
l=list(tup)

l[0]="apple"

tup=tuple(l)
print(tup)

('apple', 'Mangoe', 'banana', 'kiwi')

In [16]:
#Unpacking Tuple

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)

print(yellow)

print(red)

apple
banana
cherry

# loop the Tuple

In [29]:
tup=("Orang","Mangoe","banana","kiwi")
for i in tup:
    print(i)
print("\n\n")
for i in range(len(tup)):
    print(tup[i])

print("\n---While loop---\n")
i=0
while i<len(tup):
    print(tup[i])
    i=i+1

Orang
Mangoe
banana
kiwi



Orang
Mangoe
banana
kiwi

---While loop---

Orang
Mangoe
banana
kiwi

In [30]:
# Join tuple
tup1=(1,2,3,4,5)
tup2=("asd","der","ert")
print(tup1+tup2)

(1, 2, 3, 4, 5, 'asd', 'der', 'ert')

# Set

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

do not allow duplicate values.

In [5]:
Set={"Chocolate","Cake","milk","fruits"}
print(Set,type(Set))
print(len(Set))

Set1={1,2,3,4,5,6,7,7,7} # Duplicate appears noly one time
print(Set1)

set2={1,3,4,"Hi","Nice",True}
print(set2)

{'Chocolate', 'milk', 'fruits', 'Cake'} <class 'set'>
4
{1, 2, 3, 4, 5, 6, 7}
{'Hi', 1, 3, 4, 'Nice'}

# Access item of set
You cannot access items in a set by referring to an index or a key

use loop

In [11]:
set1={1,2,3,4,5,"banana","Chocolate"}
for i in set1:
    print(i)
    
    
print(5 in set1)
print("banana" in set1)

1
2
3
4
5
banana
Chocolate
True
True

# Add Set Items

In [13]:
set2={"mangoes","apple","Banana","cherry","kiwi"}
set2.add("orange")
print(set2)


set3={"milk","lasi","butter"}
set2.update(set3)
print(set2)

{'orange', 'cherry', 'apple', 'Banana', 'kiwi', 'mangoes'}
{'orange', 'cherry', 'Banana', 'kiwi', 'mangoes', 'lasi', 'apple', 'butter', 'milk'}

# Remove set or set items

In [23]:
set2={"mangoes","apple","Banana","cherry","kiwi"}

set2.remove("apple")
print(set2)

set2.discard("mangoes")
print(set2)


set2={"mangoes","apple","Banana","cherry","kiwi"}
set2.pop() # remove randomly
print(set2)


set2.clear()
print(set2)

set2={"mangoes","apple","Banana","cherry","kiwi"}
del set2
print(set2)

{'cherry', 'Banana', 'kiwi', 'mangoes'}
{'cherry', 'Banana', 'kiwi'}
{'apple', 'Banana', 'kiwi', 'mangoes'}
set()

NameError: name 'set2' is not defined

# Join Two Sets

In [26]:
set1={"mangoes","apple","Banana","cherry","kiwi"}
set2={"milk","chcolate","butter","lasi"}

print("update() method that inserts all the items from one set into another")
set1.update(set2)
print(set1)

print("\n union() method that returns a new set containing all items from both sets")

set3=set1.union(set2)
print(set3)

update() method that inserts all the items from one set into another
{'cherry', 'chcolate', 'Banana', 'kiwi', 'mangoes', 'lasi', 'apple', 'butter', 'milk'}

 union() method that returns a new set containing all items from both sets
{'cherry', 'chcolate', 'Banana', 'kiwi', 'mangoes', 'lasi', 'apple', 'butter', 'milk'}

# Set method
https://www.w3schools.com/python/python_sets_methods.asp

# Dictionary

In [34]:
dit={
    "name":"Bakhshial",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"]
}
print(dit)

{'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-70']}

In [47]:
# Access dictionary item
print(dit["name"])

# list of all keys
print("\n-----all keys----\n")

print(dit.keys())

dit["Univesity"]="The Shaikh Ayaz University of Shikarpur"
print(dit.keys())

print("\n-----all values-----\n")

x=dit.values()
print(x)


print("\n-----all items-----\n")

y=dit.items()
print(y)

Bakhshial

-----all keys----

dict_keys(['name', 'age', 'semester', 'Detial', 'Univesity'])
dict_keys(['name', 'age', 'semester', 'Detial', 'Univesity'])

-----all values-----

dict_values(['Bakhshial', 21, 'Fifth', ['third year', 'fifth_semester', '21-bscs-70'], 'The Shaikh Ayaz University of Shikarpur'])

-----all items-----

dict_items([('name', 'Bakhshial'), ('age', 21), ('semester', 'Fifth'), ('Detial', ['third year', 'fifth_semester', '21-bscs-70']), ('Univesity', 'The Shaikh Ayaz University of Shikarpur')])

In [56]:
print("----check if-----\n")
dict1 =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

----check if-----

Yes, 'model' is one of the keys in the thisdict dictionary

In [59]:
dict1.update({"year":"2020"})
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2020'}

In [70]:
# remove items 

dit={
    "name":"Bakhshial",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"]
}
print(dit)
dit.pop("Detial")
print(dit)

dit.popitem()

dit.clear()
print(dit)

dit={
    "name":"Bakhshial",
    "ge": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"]
}

del dit["Detial"]
print(dit)

del dit

{'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-70']}
{'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth'}
{}
{'name': 'Bakhshial', 'ge': 21, 'semester': 'Fifth'}

In [78]:
dit={
    "name":"Bakhshial",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"]
}

for i in dit:
    print(i)
    print(dit[i])

print("\n---print all values----\n")
for i in dit.values():
    print(i)

print("\n---all keys---\n")
for i in dit.keys():
    print(i)
    
print("\n--- all items---\n")
for x,y in dit.items():
    print(x,y)

name
Bakhshial
age
21
semester
Fifth
Detial
['third year', 'fifth_semester', '21-bscs-70']

---print all values----

Bakhshial
21
Fifth
['third year', 'fifth_semester', '21-bscs-70']

---all keys---

name
age
semester
Detial

--- all items---

name Bakhshial
age 21
semester Fifth
Detial ['third year', 'fifth_semester', '21-bscs-70']

In [81]:
# Copy dictionary
dict1={
    "name":"Bakhshial",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"],
    "Univesity":"The Shaikh Ayaz University of Shikarpur"
}

dict2=dict1.copy()
print(dict2)

dict3=dict(dict1)
print(dict3)

{'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-70'], 'Univesity': 'The Shaikh Ayaz University of Shikarpur'}
{'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-70'], 'Univesity': 'The Shaikh Ayaz University of Shikarpur'}

In [84]:
dict1={
    "s1":{
    "name":"Bakhshial",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-70"],
    "Univesity":"The Shaikh Ayaz University of Shikarpur"
},
    "s2":{
    "name":"Ali",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-30"],
    "Univesity":"The Shaikh Ayaz University of Shikarpur"
},
    "s3":{
    "name":"Shoaib",
    "age": 21,
    "semester":"Fifth",
    "Detial":["third year","fifth_semester","21-bscs-40"],
    "Univesity":"The Shaikh Ayaz University of Shikarpur"
}
}
print(dict1)

{'s1': {'name': 'Bakhshial', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-70'], 'Univesity': 'The Shaikh Ayaz University of Shikarpur'}, 's2': {'name': 'Ali', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-30'], 'Univesity': 'The Shaikh Ayaz University of Shikarpur'}, 's3': {'name': 'Shoaib', 'age': 21, 'semester': 'Fifth', 'Detial': ['third year', 'fifth_semester', '21-bscs-40'], 'Univesity': 'The Shaikh Ayaz University of Shikarpur'}}

# Dictionary Method
https://www.w3schools.com/python/python_dictionaries_methods.asp