In [2]:
n =int(input("enter the value: "))
for i in range(10,n):
    i=i+i
    print(i)

enter the value: 34
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [3]:
def fun():
    n =int(input("enter the value: "))
    for i in range(10,n):
        i=i+i
        print(i)
fun()

enter the value: 12
20
22

In [11]:
def sum1(a,b):
    return a+b
sum1(2,4)  

def num(*a):
    a+=a
    return a
num(12,34)

(12, 34, 12, 34)

In [12]:
# TOSESS=6
# def task(TOSESS):
#     for i in range(TOSESS+1):
#         if random.random()

SyntaxError: invalid syntax (3275574753.py, line 2)

In [2]:
import numpy as np
a=np.array([0,1,2])
M=np.ones((3,3))
print(M+a)
M+5

[[1. 2. 3.]
 [1. 2. 3.]
 [1. 2. 3.]]

array([[6., 6., 6.],
       [6., 6., 6.],
       [6., 6., 6.]])

In [5]:
a=np.arange(3)
b=np.arange(3)[:,np.newaxis]
print(a)
print(b)
a+b
b=b.reshape(1,3)
print(b)
np.linspace(3,4,50)

[0 1 2]
[[0]
 [1]
 [2]]
[[0 1 2]]

array([3.        , 3.02040816, 3.04081633, 3.06122449, 3.08163265,
       3.10204082, 3.12244898, 3.14285714, 3.16326531, 3.18367347,
       3.20408163, 3.2244898 , 3.24489796, 3.26530612, 3.28571429,
       3.30612245, 3.32653061, 3.34693878, 3.36734694, 3.3877551 ,
       3.40816327, 3.42857143, 3.44897959, 3.46938776, 3.48979592,
       3.51020408, 3.53061224, 3.55102041, 3.57142857, 3.59183673,
       3.6122449 , 3.63265306, 3.65306122, 3.67346939, 3.69387755,
       3.71428571, 3.73469388, 3.75510204, 3.7755102 , 3.79591837,
       3.81632653, 3.83673469, 3.85714286, 3.87755102, 3.89795918,
       3.91836735, 3.93877551, 3.95918367, 3.97959184, 4.        ])

In [13]:
print("hello world")
#alsjfhlhglasg


"""
saidfjoapsf
as;dkfj;aisohdf
sas;oidhfluisgf
safuasigfw
sljhagfiyf
"""

hello world

'\nsaidfjoapsf\nas;dkfj;aisohdf\nsas;oidhfluisgf\nsafuasigfw\nsljhagfiyf\n'

In [15]:
a=0
while a!=0:
    print(a)
for i

In [16]:
print("safd","ouashfia",1234,True)

safd ouashfia 1234 True

In [18]:
name=input("what is your name? ")

what is your name? haider

In [20]:
print("my name is :",name)

my name is : haider

In [23]:
print(3%2)
print(3/2)
print(3//2)

1
1.5
1

In [28]:
a=1+23+4+5+\
345
a

378

In [36]:
print("Ali\nHajano")
print("Ali\t\thajano")

Ali
Hajano
Ali		hajano

In [43]:
print(format(123445.5678,",.2f"))

                    123,445.57

In [53]:
print(format(123445.5678,"0.2%"))

12344556.78%

In [55]:
VALUE=123
print(2+VALUE)
print(3+VALUE)
print(VALUE)

125
126
123

In [57]:
asd
print(asd)

NameError: name 'asd' is not defined